<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <title>Rastgele Kombin</title>
</head>
<body bgcolor="#ffe6f2">

  <h2><center>✨ Rastgele Kombinin ✨</center></h2>

  <center>
    <div style="display:inline-block; margin:20px;">
      <h3>Üst</h3>
      <img src="/{{ kombin['ust']['image_path'] }}" width="180">
    </div>

    <div style="display:inline-block; margin:20px;">
      <h3>Alt</h3>
      <img src="/{{ kombin['alt']['image_path'] }}" width="180">
    </div>

    <div style="display:inline-block; margin:20px;">
      <h3>Ayakkabı</h3>
      <img src="/{{ kombin['ayakkabi']['image_path'] }}" width="180">
    </div>
  </center>

  <br><br>
  <center>
    <a href="/welcome">← Dolabıma Dön</a>
  </center>

</body>
</html>
