<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <title>Kayıt Ol | DijitalDolabım</title>
</head>
<body bgcolor="#ffe6f2" text="#000000">

  <h1><center><font color="#800080">✨ DijitalDolabım ✨</font></center></h1>
  <hr color="#800080" size="2">

  <center>
    <h2><font color="#990099">Kayıt Ol</font></h2>

  <form action="/register" method="post">
   <input type="text" name="username" placeholder="Kullanıcı Adı" required><br><br>
   <input type="email" name="email" placeholder="Email" required><br><br>
   <input type="password" name="password" placeholder="Şifre" required><br><br>
   <button type="submit">Kayıt Ol</button>
  </form>


    <p>
      Zaten hesabın var mı?
      <a href="/">Giriş Yap</a>
    </p>
  </center>

  <hr color="#800080" size="2">
  <center>
    <small><font color="#660066">© 2025 DijitalDolabım — Tüm hakları saklıdır.</font></small>
  </center>

</body>
</html>
